<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Yummy</title>
        <link rel="icon" href="images/logo_hat.png" type="image/x-icon">
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


    <body>
        <!-- header with logo + navbar -->
        <%- include('components/navbar') %>

        <!-- main site -->
        <div class="main">
            <!-- change number of recipes automatically -->
            <div class="section">
                <div class="invitation">
                    <h1>Explore your <span><%= recipes.length %></span> delicious recipes!</h1>
                    <a href="<%= baseUrl19 %>/recipes" class="more_btn">Learn more!</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="popular_title">
                        <h1> Top picks </h1>
                        <a href="<%= baseUrl19 %>/recipes" class="all_button">See all recipes</a>
                    </div>
                    <article class="popular_list">
                        <div role="list" class="popular_list_posts">
                            <% recipes.slice(0, 4).forEach(recipe => { %>
                            <div role="listitem" class="recipe_post_container_home">
                                    <a href="<%= baseUrl19 %>/recipes/<%= recipe.id %>" class="recipe_post">
                                        <div class="post_image_container">
                                            <img src="images/<%=recipe.photo_path%>">
                                        </div>
                                        <p><%= recipe.time %> min</p>
                                        <h3><%= recipe.title %></h3>
                                        <p><%= recipe.category %></p>
                                    </a>
                            </div>
                            <% }) %>
                        </div>  
                    </article>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="popular_title">
                        <h1>Latest recipes </h1>
                        <a href="<%= baseUrl19 %>/recipes" class="all_button">See all recipes</a>
                    </div>
                    <article class="popular_list">
                        <div role="list" class="popular_list_posts2">
                            <% recipes.slice(-4).forEach(recipe => { %>
                            <div role="listitem" class="recipe_post_container_home">
                                    <a href="<%= baseUrl19 %>/recipes/<%= recipe.recipeId %>" class="recipe_post">
                                        <div class="post_image_container">
                                            <img src="images/<%=recipe.photo_path%>">
                                        </div>
                                        <p><%= recipe.time %> min</p>
                                        <h3><%= recipe.title %></h3>
                                        <p><%= recipe.category %></p>
                                    </a>
                            </div>
                            <% }) %>
                        </div>  
                    </article>
                </div>
            </div>
        </div>


        <!-- footer -->
        <%- include('components/footer') %>

        <script>
            function showMenu() {
                document.getElementById('navbar_logo').style.display = 'none';
                document.getElementById('navbar').style.display = 'none';
                document.getElementById('navbuttons').style.display = 'none';
                document.getElementById('navbar2').style.display = 'flex';
            }
        </script>

    </body>
</html>